/*
Copyright (C) 2021 Jean-Bernard - JBHuet.com

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
*/
/*
    Created on : 29 déc. 2021, 16:55:31
    Author     : Jean-Bernard - JBHuet.com <contact@jbhuet.com>
*/

body {
    max-width: 740px;
}

.card {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 10px;
}

.flipped {
    background-color: #000;
}

.visible {
    background: url(cards.png);
}

.type0 {
    /* red apple */
    background-position: 0px 0px;
}

.type1 {
    /* bananas */
    background-position: 0px -100px;
}

.type2 {
    /* orange */
    background-position: 0px -200px;
}

.type3 {
    /* green lemon */
    background-position: 0px -300px;
}

.type4 {
    /* pomegranate */
    background-position: 0px -400px;
}

.type5 {
    /* apricot left */
    background-position: 0px -500px;
}

.type6 {
    /* yellow lemon */
    background-position: 0px -600px;
}

.type7 {
    /* strawberry */
    background-position: 0px -700px;
}

.type8 {
    /* green apple */
    background-position: 0px -800px;
}

.type9 {
    /* apricot right */
    background-position: 0px -900px;
}

.type10 {
    /* grapes */
    background-position: 0px -1000px;
}

.type11 {
    /* watermelon */
    background-position: 0px -1100px;
}

.type12 {
    /* plume */
    background-position: 0px -1200px;
}

.type13 {
    /* pear */
    background-position: 0px -1300px;
}

.type14 {
    /* red cherries */
    background-position: 0px -1400px;
}

.type15 {
    /* raspberry */
    background-position: 0px -1500px;
}

.type16 {
    /* mango */
    background-position: 0px -1600px;
}

.type17 {
    /* yellow cherries */
    background-position: 0px -1700px;
}
